body{
    height: 50vh;
    width: 50vh;
    background-color: black;
    color: aliceblue;
}

#contenedorGraficas,
#contenedorCPU,
#contenedorRAM{
    width: 250%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
     margin-bottom: 50px;
}
.tarjetaDisenio{
    border: 2px solid rgb(229, 229, 229);
    border-radius: 5px;
    padding: 8px;
}

